.city-section {

	&__image {
		display: block;
	}
	
	&__city-selected {
		position: relative;

		&--title {
			text-align: center;
			font-size: 2rem;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			
			@mixin atSmall {
				font-size: 3rem;
			}
		}


	}

	
}