.generic-content-container {

	p {
		font-weight: 300;
		line-height: 1.8;
		margin: 0 0 0rem 0;

		strong {
			font-weight: 700;
		}

		a {
			color: $mainBlue;
		}

	@mixin atSmall {
		font-size: 1.575rem;
		}
	}

	&--black {
		color: #ccc;
	}
}