.headline {
	text-align: center;
	font-size: 1.8rem;
	font-weight: 300;
	padding-top: 1rem;
	padding-bottom: 1rem;

	@mixin atSmall {
		font-size: 3rem;
		padding-top: 0rem;
		padding-bottom: 1rem;
	}

	&__city {
		padding-top: 1rem;
		padding-bottom: 1rem;
		@mixin atSmall {
			padding-top: 1.5rem;
			}

		@mixin atLarge {
			padding-top: 0rem;
		}
	}

	&__orange {
		color: $mainOrange;
		font-weight: 300;
	}

	&__blue {
		margin-top: 100px;
		color: $mainBlue;
		font-weight: 400;
	}

	&__testimonials {
		color: $mainOrange;
		padding-bottom: 1.275rem;

		@mixin atSmall {
			padding-top: 1rem;
			padding-bottom: 2.3rem;
		}
	}
	
}
