.section {

	@mixin atMedium {
		position: relative;
	}

	&__area {
		height: 180px;

		&:hover {
			background-color: rgba($mainYellow, .5);
		}

		@mixin atMedium {
			height: 400px;
		}
		
		&__blue {
			background-color: blue;
			position: relative;
			
		}

		&__gray {
			background-color: gray;
			position: relative;
		}

		&__pink {
			background-color: pink;

			&__img {
				display: block;
			}
		}

		&__hotpink {
			background-color: hotpink;
			position: relative;
		}

		&__content {

			text-align: center;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 100%;

			@mixin atMedium {
				
			}
		}

		&__title {
			font-weight: 400;
			padding-right: 10px;
			padding-left: 10px;

			@mixin atMedium {
				font-size: 2.8rem;
			}
			
			& a {
				font-size: 1.8rem;
				font-weight: 300;
				color: #fff;
				display: block;


				@mixin atMedium {
				font-size: 2.8rem;
				font-weight: 400;
				}
			}
		}

		&__description {
			padding-right: 28px;
			padding-left: 28px;
			padding-top: 10px;


			@mixin atMedium {
				
			}
			
		}
	}

	&__cyrcle {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: $mainYellow;
		position: fixed;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		border: 5px solid rgba(#ffcc00, .3);
		z-index: 5;
		
			&:hover {
				background-color: rgba(255, 204, 0, 1);

				
				}

		@mixin atMedium {
			width: 300px;
			height: 300px;
			border-radius: 50%;
			background-color: $mainYellow;
			position: absolute;
			left: 0;
			right: 0;
			top: 50%;
			margin: auto;
			border: 8px solid rgba(#ffcc00, .1);

			&:hover {
				
				}
		}

		&__title {
			position: absolute;
			top: 50%;
			width: 100%;
			transform: translateY(-50%);
			text-align: center;
			color: black;
			text-shadow: 1px 3px 5px gray;
			font-size: 1.8rem;


			@mixin atMedium {
				position: absolute;
				top: 50%;
				width: 100%;
				transform: translateY(-50%);
				text-align: center;
				color: black;
				text-shadow: 1px 3px 5px gray;
				
				&:hover {
					text-transform: scale(1.25);
				}
			}
			
		}
	}
}