.site-header{
	position: absolute;
	z-index: 2;
	width: 100%;
	transition: background-color 1s ease-out;
	
	&--is-expended {
		background-color: rgba($mainBlue, .8);
	}


	@mixin atMedium {
		position: fixed;
		background-color: rgba($mainBlue, .3);

		&--dark {
		background-color: rgba(23, 51, 72, .85);
		}

	}

	&__btn-container {
		position: absolute;
		top: 0px;

		@mixin atMedium {
			position: relative;
			float: right;
		}
	}

	&__menu-content {
		opacity: 0; /*display: none*/
		transform: scale(3);
		transition: all .5s ease-out; /*cuz we using transform to few properties*/
		padding-top: 30px;
		position: relative; /*for the browser to ecknolage the z-index -10*/
		z-index: -10;

			@mixin atMedium {
					display: block;
					padding-top: 0px;
					z-index: 1;
					opacity: 1;
					transform: scale(1);
			}

		&--is-visible {
				opacity: 1;
				z-index: 1;
				transform: scale(1);
		}
	}

	&__menu-icon {
		width: 20px;
		height: 19px;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 10;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 0;
			transition: transform 1s ease-out;
		}
		&__middle {
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transition: all .5s ease-out;
			}
		&::after {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: #fff;
			transform-origin: 0 100%; /*0 fron left, 100%from top*/
			transition: transform 1s ease-out;
		}

		@mixin atMedium {
			display: none;
		}
	}

	&__menu-icon--close-x {

		&::before {
			transform: rotate(45deg) scaleX(1.25);

		}
		.site-header__menu-icon__middle {
			opacity: 0;
			transform: scaleX(0);
			}
		&::after {
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);

		}
	}
}