.site-footer {
	color: #002633;
	background-color: $mainOrange;
	text-align: center;
	padding: .5rem 0;

	
	&__text {
		display: block;
		margin-bottom: .5rem;
		font-size: .8rem;

		@mixin atMedium {
			display: inline;
			margin-right: 1.5rem;
			font-size: 1rem;
			
		}
	}
}