.social-icons {
	text-align: center;
	font-size: 2.3rem;
	color: $mainBlue;
	padding-top: 30px;
	padding-bottom: 20px;

	@mixin atSmall {
			font-size: 3rem;
			padding-top: 40px;
		}

	i {
		margin-right: 10px;
		text-shadow: 3px 3px 3px #888888;
	}
	i:hover {
		cursor: pointer;
	}
}