.sun-outer {
		background-color: rgba(#ffe066, .3);
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		top: 0;
		opacity: 0;
		visibility: hidden;
		transition: all 1s ease-out;
		
	&--is-visible {
	opacity: 1;
	visibility: visible;
} {

	}
}